@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.container{
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    font-family: 'Archivo Black', sans-serif;
}

.footer{
    text-align: center;
}

.span:hover{
    color: rgb(85, 86, 139);
}