.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: azure;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

.li{
    display: inline;
    float: left;
    transition-duration: 0.4s;
    text-align: center;
}

.a{
    display: block;
    padding: 8px;
    background-color: azure;
    transition-duration: 0.4s;
    text-decoration: none;
    padding: 20px 24px;
    text-align: center;
    float: left;
}

.li:hover{
    background-color: rgb(96, 123, 209);
}

.a:hover{
    background-color: rgb(96, 123, 209);
}