@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: auto;
    font-family: 'Archivo Black', sans-serif;
}

.li{
    display: inline;
    float: left;
    transition-duration: 0.4s;
    text-align: center;
}

.a{
    display: block;
    padding: 8px;
    background-color: azure;
    transition-duration: 0.4s;
    text-decoration: none;
    padding: 20px 24px;
    text-align: center;
    float: left;
    font-family: 'Archivo Black', sans-serif;
}

.li:hover{
    background-color: rgb(96, 123, 209);
}

.a:hover{
    background-color: rgb(96, 123, 209);
}